root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
Inter_pass_files_set"6
Solution_source_files_add
Pro"v.8.0.9"
Prog.v.11.7.-source_</>
Gmright_><
[Airbrake_gmright%]
Line:
Line:
Line:
Line:
Line:
Line:
=====
Files:
Files:
Files:
Files:
========
Seting_bakai-pass_source_files_connext-"term-and-condition</>6.0.9
