.webpage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  webview {
    display: inline-flex !important;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    border: none;
  }
}
