.top-nav {
  background: #2d2d2d;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  .search-input {
    font-size: 17px;
    font-weight: 500;
    box-shadow: none;
    border-radius: 80px;
    border: none;
    background: #2d2d2d;
    outline: none;
    width: 100%;
    color: #eaeaea;
    padding: 15px 20px;
    line-height: 24px;
  }

  .btn-action {
    outline: none;
    box-shadow: none;
    line-height: 40px;
    border-radius: 0;
    min-width: 55px;
    display: inline-block;
  }

  .settings-btn {
    position: relative;

    .settings-wrap {
      position: absolute;
      top: 100%;
      right: 0
    }
  }
}