body {
  overflow: hidden;
  padding: 1px;
}

.empty-page {
  padding-top: 1px;
  max-width: 560px;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;

  h1 {
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 1vh;
    @media (max-height: 140px) {
      display: none;
    }
  }

  p {
    font-size: 18px;
    font-weight: 500;
    @media (max-height: 190px) {
      display: none;
    }
  }

  input {
    font-size: 18px;
    font-weight: 500;
    margin-top: 1.5vh;
    padding: 15px 20px;
    box-shadow: none;
    border-radius: 80px;
    border: none;
    background: #eaeaea;
    outline: none;
    width: 100%;
    color: #222222;
    -webkit-app-region: no-drag;
  }

  svg {
    width: 50vh;
    margin-bottom: 2vh;
    @media (max-height: 400px) {
      width: 40vh;
    }
    @media (max-height: 320px) {
      width: 30vh;
    }
    @media (max-height: 250px) {
      display: none;
    }
  }
}


