.empty-page {
  padding-top: 1px;
  max-width: 560px;
  min-height: 100vh;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-weight: 700;
    font-size: 10vh;
    margin-bottom: 1vh;
  }

  p {
    font-size: 3.5vh;
    font-weight: 500;
    margin-bottom: 2vh;
  }

  input {
    font-size: 3.5vh;
    font-weight: 500;
    margin-top: 1vh;
    padding: 3vh 4vh;
    box-shadow: none;
    border-radius: 80px;
    border: none;
    background: #eaeaea;
    outline: none;
    width: 100%;
    color: #222222;
  }

  svg {
    width: 50vh;
    margin-bottom: 1.5vh;
  }
}


